@page
@{
    ViewData["Title"] = "Спасибо!";
}
@{
    Layout = "_Layout2";
}

<style>
    body {
        /* background-color: #121212; Тёмный фон, чтобы белый текст был виден */
        color: white; /* Все тексты будут белыми */
        text-align: center;
        margin-top: 4%;

    }


</style>
<h2>Спасибо за вашу заявку!</h2>
<p>Мы свяжемся с вами в ближайшее время.</p>


<a href="/" class="back-to-home" aria-label="Вернуться на главную">
    <div class="back-circle">
        <span class="arrow a1">&lt;</span>
        <span class="arrow a2">&lt;</span>
        <span class="arrow a3">&lt;</span>
    </div>
    <span class="back-label">Назад</span>
</a>



<script src="https://unpkg.com/alpinejs" defer></script>
<script>
    // Таймер на 5 секунд, затем редирект
    setTimeout(function () {
        window.location.href = "/"; // Укажи нужный путь
    }, 25000);
</script>